@model IEnumerable<MyShop.Core.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pro_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pro_desc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pro_price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pro_category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pro_inage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pro_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pro_desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pro_price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pro_category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pro_inage)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
